<!--<configuration>-->
<!--    <appender name ="myConsoleappender" class="ch.qos.logback.core.ConsoleAppender">-->
<!--        <encoder>-->
<!--            <pattern>-->
<!--                %d{yy&#45;&#45;MM-dd HH:mm:ss:SSS} [%thread] %-10level %logger{36}-&#45;&#45;%msg %n-->

<!--            </pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

<!--    <appender name = "myfileAppender" class = "ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--        <file>-->
<!--            test1.log-->
<!--        </file>-->
<!--        <rollingPolicy class = "ch.qos.logback.core.rolling.SizeandTimeBasedRollingPolicy">-->
<!--        <fileNamePattern>Test1-%d{yy-MM-dd_HH-mm}.%i.log</fileNamePattern>-->
<!--            <maxFileSize>10MB</maxFileSize>-->
<!--            <maxHistory>10</maxHistory>-->
<!--    </rollingPolicy>-->
<!--        <encoder>-->
<!--            <pattern>-->
<!--                %d{yy&#45;&#45;MM-dd HH:mm:ss:SSS} [%thread] %-10level %logger{36}-&#45;&#45;%msg %n-->
<!--            </pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

<!--    <root level = "INFO">-->
<!--        <appender-ref ref = "myConsoleAppender"/>-->
<!--        <appender-ref ref = "myFileAppender"/>-->

<!--    </root>-->
<!--</configuration>-->